@import url('https://fonts.googleapis.com/css?family=Karla:100,200,300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,700,800,900');
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}


/*
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}*/

@media (min-width: 1050px) {
  .container {
    width: 65%;
  }
}

html {
  font-size: 60%;
  margin: 0 0;
  background-color: #2d6e76;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0;
  margin-top: 5rem;
  text-align: center;
  /*color: rgba(0,0,0,0.6);*/
  /*color: #222;*/
  color: #25374a;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  /*margin-bottom: 2rem;*/
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  margin-bottom: 0rem;
}

h1 span {
  letter-spacing: -.2rem;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0;
  font-family: 'Roboto Slab';
  font-weight: 100;
  text-transform: uppercase;
}

.pull-up {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  left: 0;
  right: 0;
  z-index: 1000;
}

.pull-under {
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  left: 0;
  right: 0;
  width: 17em;
  height: 2em;
  /*color: yellow;*/
  background-color: #c1d533;
  z-index: 100;
  opacity: 0.5;
}

h3 {
  font-size: 4.6rem;
  line-height: 1.25;
  letter-spacing: +0.2rem;
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
  font-family: 'Karla';
  font-weight: 600;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
  font-family: 'Karla';
  font-weight: 500;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: +.05rem;
  font-family: 'Roboto Slab';
  font-weight: 300;
}

@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 110%;
  }
}

p {
  margin-top: 0;
}

a {
  color: #25374a;
  transition: 0.2s;
}

a:hover {
  color: #0FA0CE;
  transition: 0.5s;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

button, .button {
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #2c2644;
  opacity: 0.8;
}

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}

.intro {
  margin-top: 7rem;
}

.links {
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
  margin-top: 2rem;
}

.links a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.links a span {
  display: block;
  text-decoration: none;
}

.projects {
  text-align: left;
}


.accordion-toggle {
  display: inline-block;
  cursor: pointer;
  margin: 1rem 4rem -1rem 0;
  background-color: #c1d533;
  padding: 0 1rem;
  color: #2f465f;
  position: relative;
  z-index: 1000;
  opacity: 0.8;
}

.accordion-content {
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  margin: -1rem 2rem 0 1rem;
  position: relative;
  z-index: 100;
}

.accordion-content.default {
  display: block;
}

tag {
  height: 32px;
  font-family: "Karla", "Helvetica", "Arial", sans-serif;
  line-height: 32px;
  padding: 0 12px;
  border: 0;
  border-radius: 16px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
}

.tag_text {
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
}

tag:focus {
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

tag:active {
  background-color: #d6d6d6;
}

.bound {
  text-align: left;
  margin: auto;
}
