@import url('https://fonts.googleapis.com/css?family=Karla:400,600,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400');
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 1050px) {
  .container {
    width: 65%;
  }
}

html {
  font-size: 60%;
  margin: 0 0;
  background-color: #337382;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Karla", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0;
  margin-top: 5rem;
  text-align: center;
  color: #15273a;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  margin-bottom: 0rem;
  color: #203245;
}

h1 span {
  letter-spacing: -.2rem;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0;
  font-family: 'Roboto Slab';
  font-weight: 100;
  text-transform: uppercase;
}

.pull-up {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  left: 0;
  right: 0;
  z-index: 1000;
}

.pull-under {
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  left: 0;
  right: 0;
  width: 17em;
  height: 2em;
  background-color: #c1d533;
  z-index: 100;
  opacity: 0.5;
}

h3 {
  font-size: 4.6rem;
  line-height: 1.25;
  letter-spacing: +0.2rem;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
  font-family: 'Karla';
  font-weight: 600;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
  font-family: 'Karla';
  font-weight: 600;
  margin-bottom: 0.8rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: +.05rem;
  font-family: 'Roboto Slab';
  font-weight: 400;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 110%;
  }
}

p {
  margin-top: 0;
}

a {
  color: #25374a;
  transition: 0.2s;
}

a:hover {
  color: #0FA0CE;
  transition: 0.5s;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

button, .button {
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #2c2644;
  opacity: 0.8;
}

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}

.intro {
  margin-top: 7rem;
}

.intro p {
  font-size: 1.6rem;
}

.intro .intro-child a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: teal;
}

.links {
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
  margin-top: 3rem;
  color: #203245;

}

.links a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #203245;

}

.links a span {
  display: block;
  text-decoration: none;
  color: #203245;
}

.projects {
  text-align: left;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-links a {
  cursor: pointer;
  border: none;
  background-color: #afb311;
  color: #2f465f;
  opacity: 0.8;
  padding: 0 1rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  text-decoration: none;
  transition: 0.2s;
}

.project-links a:hover {
  background-color: #d2e644;
  transition: 0.3s;
  color: #ffffff;
}

.project-links a h5 {
  margin: 0;
}

.accordion-toggle {
  display: inline-block;
  cursor: pointer;
  margin: 1rem 4rem -1rem 0;
  background-color: #c1d533;
  padding: 0 1rem;
  color: #2f465f;
  position: relative;
  z-index: 1000;
  opacity: 0.8;
  transition: 0.2s;
}

.accordion-toggle:hover {
  display: inline-block;
  cursor: pointer;
  margin: 1rem 4rem -1rem 0.2rem;
  background-color: #d2e644;
  transition: 0.3s;
  color: #2f465f;
  position: relative;
  z-index: 1000;
  opacity: 1;
}

.accordion-content {
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  margin: -1rem 2rem 0 1rem;
  position: relative;
  z-index: 100;
}

.accordion-content.default {
  display: block;
}

.build-tags {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

tag {
  height: 2.4rem;
  font-family: "Karla", "Helvetica", "Arial", sans-serif;
  line-height: 2.4rem;
  padding: 0 1rem 0.2rem 1rem;
  border: 0;
  border-radius: 1.1rem;
  background-color: #25374a;
  display: inline-block;
  color: #6eacb0;
  margin: 0.2rem 0;
  font-size: 1rem;
  white-space: nowrap;
  cursor: default;
}

.tag_text {
  font-size: 1.2rem;
  vertical-align: middle;
  display: inline-block;
}

.bound {
  text-align: left;
  margin: auto;
}

.endspace {
  height: 25rem;
}

header {
  position: relative;
}

#waves {
  display: block;
  position: absolute;
  z-index: -20;
  left: 0;
  opacity: 0.5;
  top: -46rem;
  -webkit-transform: translate(0, 8rem);
  width: 100%;
}

@media only screen
and (min-device-width : 300px)
and (max-device-width : 1200px) {
  #waves {
    -webkit-transform: translate(0, 0rem);
    top: -21rem;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  h1 {
    font-size: 5rem;
  }
}

@media only screen
and (min-device-width : 300px)
and (max-device-width : 800px)
and (orientation : landscape) {
  #waves {
    top: -21rem;
    /*-webkit-transform: translate(0, 15rem);*/
  }
}

@media (min-width: 600px) {
  #waves {
    -webkit-transform: translate(0, 5rem);
    top: -25.5rem;
  }
}

@media (min-width: 900px) {
  #waves {
    -webkit-transform: translate(0, 5rem);
    top: -23.0rem;
  }
}

@media (min-width: 1050px) {
  #waves {
    -webkit-transform: translate(0, 0rem);
    top: -19rem;
  }
}
